<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="content" accept="image/*"><input type="submit">
                <hr>
                {% for filename in filenames %}
                <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                    <img src="{{ filename }}" style="max-height:850px;max-width:850px">
                </figure>
                {% endfor %}
              </form>
        </div>
    </body>
</html>
