<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/blocks.css/dist/blocks.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body class="block">
    <div class="container">
      <div class="wrapper" style="margin-top: 5rem">
        <h1 class="block">Zoomheads</h1>
        <div>
          An InnoFest project by Joy, Van Sis, Eve, Isabelle, Ethan & Yueh-Han
        </div>
      </div>
      <div style="margin-top: 2rem">
        <img src="../static/assets/HOME.svg" />
        <div style="display: flex; justify-content: space-between">
          <label for="theFile">
            <h3 class="block">Select Image 🏞</h3>
          </label>
          <form method="post" enctype="multipart/form-data">
            <label for="submitBtn">
              <h3 class="block">Submit 📸</h3>
            </label>
          </form>
        </div>
        <hr />
      </div>

      <div id="submitBox">
        <input
          style="visibility: hidden"
          class="block"
          type="file"
          name="content"
          accept="image/*"
          id="theFile"
        />
        <input
          class="btn block"
          style="visibility: hidden"
          id="submitBtn"
          type="submit"
        />
      </div>
      <div class="images">
        {% for filename in filenames %}
        <figure style="float: left; margin-right: 20px; margin-bottom: 20px">
          <img
            class="block"
            src="{{ filename }}"
            style="max-height: 850px; max-width: 850px"
          />
        </figure>
        {% endfor %}
      </div>
    </div>
    <script>
      function showUpload() {
        console.log("hi!");
      }
      function upload() {
        document.getElementById("demo").innerHTML = "Hello World";
      }
      let container = document.getElementById("cover");
      container.addEventListener("mouseover", showUpload);
    </script>
  </body>
</html>
