<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/blocks.css/dist/blocks.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body class="block">
    <div class="container">
      <h1 class="block" style="margin-top: 5rem">Zoomheads</h1>
      <div id="block"><img src="../static/assets/HOME.svg"</div>
      <div>
        <form
          style="display: flex; justify-content: flex-start"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            class="block"
            type="file"
            name="content"
            accept="image/*"
            id="thefile"
          /><input class="block" type="submit" />
          <hr />
        </form>
      </div>
      <div class="images">
        {% for filename in filenames %}
        <figure style="float: left; margin-right: 20px; margin-bottom: 20px">
          <img
            src="{{ filename }}"
            style="max-height: 850px; max-width: 850px"
          />
        </figure>
        {% endfor %}
      </div>
    </div>
    <script>
      function update() {
        document.getElementById("demo").innerHTML = "Hello World";
      }
      let container = document.getElementById("cover");
      container.addEventListener("click", update);
    </script>
  </body>
</html>
